USE [master]
GO
/****** Object:  Database [QuanLyBanHang]    Script Date: 6/14/2021 2:44:04 PM ******/
CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHang', FILENAME = N'D:\HQT_PROJET\QuanLyBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'D:\HQT_PROJET\QuanLyBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 6/14/2021 2:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [bigint] NULL,
	[GiaGiam] [bigint] NULL,
	[ThanhTien] [bigint] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/14/2021 2:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[MaKH] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [bigint] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/14/2021 2:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] NOT NULL,
	[Ho] [nvarchar](20) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgSinh] [date] NULL,
	[SoNha] [varchar](10) NULL,
	[Duong] [nvarchar](100) NULL,
	[Phuong] [nvarchar](100) NULL,
	[Quan] [nvarchar](100) NULL,
	[Tpho] [nvarchar](100) NULL,
	[DienThoai] [char](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/14/2021 2:44:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [ntext] NULL,
	[Gia] [bigint] NOT NULL DEFAULT 0,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CT_HoaDon_GiaBan] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [CK_CT_HoaDon_GiaBan]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CT_HoaDon_GiaGiam] CHECK  (([GiaGiam]<=[GiaBan] AND [GiaGiam]>=(0)))
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [CK_CT_HoaDon_GiaGiam]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CT_HoaDon_SoLuong] CHECK  (([SoLuong]>=(1)))
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [CK_CT_HoaDon_SoLuong]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_CT_HoaDon_ThanhTien] CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [CK_CT_HoaDon_ThanhTien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_NgayLap] CHECK  (([NgayLap]<=getdate()))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_NgayLap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_TongTien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_NgSinh] CHECK  (((datepart(year,getdate())-datepart(year,[NgSinh]))>=(16)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_NgSinh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_Gia] CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_Gia]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_SLTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_SLTon]
GO

IF OBJECT_ID(N'CTHD_ThanhTien') IS NOT NULL
	DROP TRIGGER CTHD_ThanhTien
GO

CREATE TRIGGER CTHD_ThanhTien ON CT_HoaDon FOR INSERT, UPDATE
AS
	IF (UPDATE(SoLuong) OR UPDATE(GiaBan) OR UPDATE(GiaGiam) OR UPDATE(ThanhTien))
	BEGIN
		UPDATE CT_HoaDon SET ThanhTien = SoLuong*(GiaBan - GiaGiam) WHERE EXISTS (SELECT * FROM inserted I WHERE i.MaHD = CT_HoaDon.MaHD AND i.MaSP = CT_HoaDon.MaSP)
	END
GO

IF OBJECT_ID(N'HoaDon_TongTien') IS NOT NULL
	DROP TRIGGER HoaDon_TongTien
GO

CREATE TRIGGER HoaDon_TongTien ON CT_HoaDon AFTER INSERT, UPDATE, DELETE
AS
	IF (UPDATE(SoLuong) OR UPDATE(GiaBan) OR UPDATE(GiaGiam) OR UPDATE(ThanhTien))
	BEGIN
		UPDATE HoaDon SET TongTien = (SELECT SUM(ThanhTien) FROM CT_HoaDon C WHERE C.MaHD = I.MaHD ) FROM HoaDon H JOIN inserted I ON H.MaHD = I.MaHD
	END
GO

IF OBJECT_ID(N'HoaDon_NgayLap') IS NOT NULL
	DROP TRIGGER HoaDon_NgayLap
GO

CREATE TRIGGER HoaDon_NgayLap ON HoaDon FOR INSERT, UPDATE
AS
	IF UPDATE(NgayLap)
	BEGIN
		IF EXISTS (SELECT * FROM inserted I JOIN KhachHang K ON I.MaKH = K.MaKH WHERE I.NgayLap < K.NgSinh)
		BEGIN
			RAISERROR (N'Ngay lap hoa don phai sau ngay sinh cua khach hang', 16, 1)
			ROLLBACK TRANSACTION
		END
	END
GO

IF OBJECT_ID(N'CT_HoaDon_SoLuong') IS NOT NULL
	DROP TRIGGER CT_HoaDon_SoLuong
GO

CREATE TRIGGER CT_HoaDon_SoLuong ON CT_HoaDon FOR INSERT, UPDATE
AS
	IF UPDATE(SoLuong)
	BEGIN
		DECLARE @SoLuongDat INT
		DECLARE @MaSP INT
		IF EXISTS (SELECT * FROM deleted D JOIN inserted I ON D.MaHD = I.MaHD WHERE D.MaHD = I.MaHD)
			BEGIN
				SELECT @SoLuongDat = I.SoLuong - D.SoLuong, @MaSP = I.MaSP FROM deleted D JOIN inserted I ON D.MaHD = I.MaHD
			END
		ELSE
			BEGIN
				SELECT @SoLuongDat = I.SoLuong, @MaSP = I.MaSP FROM inserted I
			END
		
		IF @SoLuongDat <= 0
		BEGIN
			UPDATE SanPham SET SoLuongTon = SoLuongTon - @SoLuongDat WHERE MaSP = @MaSP
			RETURN
		END
		ELSE
			IF @SoLuongDat > (SELECT SoLuongTon FROM SanPham WHERE MaSP = @MaSP)
			BEGIN
				RAISERROR (N'So luong dat vuot qua so luong hang ton hien tai cua san pham', 16, 1)
				ROLLBACK TRANSACTION
			END
			ELSE
			BEGIN
				UPDATE SanPham SET SoLuongTon = SoLuongTon - @SoLuongDat WHERE MaSP = @MaSP
				RETURN				
			END
	END
GO

USE [master]
GO
